<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>Reservacion</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/reservation-pdf.css">
    <!--  {!! Html::style('css/pedido-pdf-tienda.css') !!} -->
</head>

<body>
    <header>
        <div>
            <img alt=" " src="../../public/images/banner-pdf.jpg" width="100%">
        </div>
        <div>
            <p class="text-left">
                <img alt="Inelco IT Solutions" src="https://inelco.mx/images/logo2.jpg" height="60">
            </p>
            <p class="text-right">
                <img alt="Inelco IT Solutions" src="https://inelco.mx/images/products/inelco-aspel-logo.png" height="60">
            </p>
        </div>
    </header>
    <div class="secciones">
        <h1>Nuevo NOI 8 Y Las Nuevas Obligaciones Fiscales De La Nómina Digital</h1>
        <h2>Reservacion <b>123123123</b></h2>
        <p class="text-center">Hemos confirmado su reservación a nuestra conferencia para:</p>
        <h3><b>Juan Perez</b></h3>
        <h4><b>La nueva empresa</b></h4>
        <table class="info">
            <thead>
                <th>LUGAR</th>
                <th>FECHA</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Hotel Four Points By Sheraton Galerías</p>
                        <p>Av. Insurgentes N°3961</p>
                        <p>64640 Monterrey, Nuevo León</p>
                    </td>
                    <td>
                        <p>Lunes 19 de diciembre 2017</p>
                        <p>de 9:00 a 12:00hrs</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><b class="resaltar">Inelco IT Solutions</b> le agradece su interés y asistencia a nuestro evento. Le invitamos a consultar nuestro <b class="resaltar">calendario</b> de conferencias, talleres y cursos en: <a target="_blank" href="https://inelco.mx/calendario">inelco.mx/calendario</a></p>
        <p>Más información de <b class="resaltar">Aspel NOI</b> en <a target="_blank" href="https://inelco.mx/aspel-noi">https://inelco.mx/aspel-noi</a>.
            <!-- Conoce el <b class="resaltar">Nuevo NOI 8</b> en <a href="https://inelco.mx/nuevo-noi8">https://inelco.mx/nuevo-noi8</a>--></p>
        <ul>
            <li>Favor de presentar esta reservación impresa en el registro del evento.</li>
        </ul>
        <table class="transparent">
            <thead>
                <th>
                    <h1>Inelco IT Solutions</h1></th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Edificio Cintermex local 18PB</p>
                        <p>64010 Monterrey, NL</p>
                        <p>(81) 1352 2222</p>
                    </td>
                    <td>
                        <p>Mariano Otero N°610 local 3PB</p>
                        <p>78250 San Luis Potosí, SLP</p>
                        <p>(444) 211 9009</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <hr>
        <h1 class="footer">www.inelco.mx</h1>
    </div>
</body>

</html>
