body{
    font-family: 'Open Sans', sans-serif;
}

a:active, a:active *, button:active, button:active *, a, button { 
    outline: none !important; 
    -moz-outline-style: none !important; 
}

h1,h2,h3,h4,h5,h6{
    font-weight:300;
}

b{
    font-weight: 600!important;
}

html,body,.container,.row{
    height:100%!important;
}

.ir-arriba {
    opacity:0.5;
    z-index:1;
    display:none;
    padding:10px;
    background:#FFF;

    font-size:20px;
    color:#1E3662;
    cursor:pointer;
    position: fixed;
    bottom:50%;
    right:20px;
    border: 1px #1E3662 solid;   
    border-radius:50%;
    transition: all 400ms ease;
}

.ir-arriba:hover{
    opacity:1;
    background: #1E3662;
    border-color: #1E3662;
    color: #FFF;
    box-shadow: 0 6px 10px rgba(30, 54, 98,0.5);
}

.title-h1{
    font-weight: 400;
    width: 300;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 2.5em;

}


.title-h2{
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 2.5em;
}

.title-h3{
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
    color: #1E3662;
}

.title-h4{
    font-weight: 300;
    text-align: left;
    margin-bottom: 1em;
    color: #aeaeae;
}

.title-h5{
    font-weight: 300;
    text-align: left;
    margin-bottom: 1em;
    color: #aeaeae;
    font-size: 1.3em;
}

/*antes text-p*/

p{
    font-size: 1.2em;
    color: #777788;
    font-weight: 300;
}

.top-panel{
    color: #fff;
    background: #1e3662;
    height: 40px; 
    padding: 9px 0;
}

.top-panel > div {
    vertical-align: middle!important;
}

.top-panel ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.top-panel ul a{
    text-decoration: none;
    color:#FFF;
    font-weight: 400;
}

.top-panel .col-md-3 ul{
    text-align: left;
}

.top-panel ul li{
    display: inline-block;
    padding: 0 10px;
    font-weight: 300;
    text-align:right!important;
    transition: all 200ms ease;
}

.top-panel span{
    color: #fff;
    font-size: 1.1em;
}

.top-panel .col-md-3 li:hover {transform: scale(1.2);}


@media (max-width: 1199px){
    .top-panel{
       height: 60px;
       /*! padding: 0px 0 !important; */
       /*! margin: 0!important; */
    }
    
    .top-panel .col-md-3{
        padding: 10px 0;
    }
}

@media (max-width: 991px){
    .navbar-brand{
        margin: 0 auto!important;
        width:auto!important;
    }
    .navbar-brand .img-responsive{
        margin: 0 auto!important;
        width:15%!important;
    }

    .navbar-right{
        margin: 0 auto!important;
        width:100%!important;
        font-size:84%!important;
    }
}

@media (max-width: 767px){
    
    .navbar-brand{
        width:70%!important;
    }
    .navbar-brand .img-responsive{
        margin: 0!important;
        padding: 0!important;
        width: 70px!important;
    }
    
    
}

@media (max-width: 730px){
    .top-panel .col-xs-3{
        width: 22%;
    }
}

@media (max-width: 697px){
    .top-panel .col-xs-3{
        width: 23%;
        vertical-align: middle!important;
    }
    
    .top-panel .col-xs-9{
        width: 77%;
        padding: 0;
    }
    
    .top-panel{
        height: 65px;
    }
}


@media (max-width: 667px){
    .top-panel .col-xs-3{
        width: 24%;
    }
    
    .top-panel .col-xs-9{
        width: 76%;
    }
}

@media (max-width: 639px){
    .top-panel .col-xs-3{
        width: 26%;
        padding: 20px 0;
    }
    
    .top-panel .col-xs-9{
        width: 74%;
        padding: 0;
        margin: 0;
    }
    
    .top-panel{
        height: 75px;
        padding: 5px 0;
        margin: 0;
    }
}

@media (max-width: 590px){
    .top-panel .col-xs-3{
        width: 30%;
    }
    
    .top-panel .col-xs-9{
        width: 70%;
    }
}

@media (max-width: 535px){
    .top-panel{
        display: none;
    }

}

@media (max-width: 535px){
    footer input{
        width: 100%!important;
    }
    footer button{
        margin: 0 auto!important;
        width: 100%;
        margin-top: 5px!important;
    }

}

/*estilos especiales para el cuerpo de la pagina*/



.text h1{
    color:#fff;

}

.banner-prod{
    padding: 9% 0 ;
    color: #FFF;

}

.banner-prod h1{
    font-weight: 800;
    text-align: center;
    padding-bottom: 4%;
    font-size: 2em;
    line-height: 1.5;
}

.banner-prod .iis-btn{
    width: 35%!important;
    border-color: #FFF;
    margin: 0 1em;
}

.title-h2{
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 2.5em;
}

.title-h3{
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
    color: #1E3662;
}

.title-list{
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
    color: #058628;
}

.title-h4{
    font-weight: 300;
    text-align: left;
    margin-bottom: 1em;
    color: #aeaeae;
}

.title-h5{
    font-weight: 300;
    text-align: left;
    margin-bottom: 1em;
    color: #aeaeae;
    font-size: 1.3em;
}

.text-p{
    font-size: 1.2em;
    color: #777788;
    font-weight: 300;
}


/*BANNER SAE*/
#banner-sae{
    color: #FFF;
    background: #B81029;
}

#banner-sae .vm-banner-prod:hover{
    color: #B81029;
    background: transparent;
}

#banner-sae .probar-banner-prod{
    color: #B81029;
    background: #FFF;
}

#banner-sae .probar-banner-prod:hover{
    color: #fff;
    border-color: #B81029;
    background: transparent;
}

#btn-sae-prob button.hvr-sweep-to-right:before{
    background:#B81029;
}
/*TERMINA BANNER SAE*/