.modal {
  text-align: center;
}

.modal-dialog {
	width: 70%;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

@media screen and (min-width: 768px) { 
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}


/* Large desktop */
@media (min-width: 1200px) {

}


@media (min-width: 980px) and (max-width: 1999px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

@media (min-width: 731px) and (max-width: 767px) {
	.modal-dialog {
		width: 90%;
	}
}

/* Landscape phone to portrait tablet */
@media (min-width: 698px) and (max-width: 730px) {
	.modal-dialog {
		max-width: 98% !important;
	}
}

/*-+-+-+-+  Cambia la imagen por medio de JS si es menor que 607px -+-+-+-+-+-*/
@media (min-width: 536px) and (max-width: 697px) {
	.modal-dialog {
		position: relative;
		left:-100px;
		width: 200px!important;

	}

}

@media (min-width: 481px) and (max-width: 535px) {
	.modal-dialog {
				position: relative;
		left:-100px;
		width: 200px!important;
	}
}

/* Landscape phones and down */
@media (min-width: 410px) and (max-width: 480px) {
	.modal-dialog {
				position: relative;
		left:-100px;
		width: 200px!important;
	}
}

@media (min-width: 320px) and (max-width: 409px) {
	.modal-dialog {
		position: relative;
		left:-80px;
		width: 155px!important;
	}
}