body {
    position: relative;
    width: 18cm;
    height: 29.7cm;
    margin: 0 auto;
    color: #666;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-family: Arial;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


h1,h2,h3,h4{ text-align: center; }

b{font-weight: bold; }
b.resaltar{
    color: #1E3662;
}
p{font-size: 1.2em; }

.text-center{
    text-align: center;
}

.text-left img{
    float: left;
    margin-left: 3em;
}

header .text-right{
    text-align: right;
    margin-right:3em;
}

header {
    
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2%;
    margin-top: 0%;
    border: 1px solid #eee;
}

table th, table td {
    text-align: center;
    border: 1px solid #eee;
}

table th {
    padding: 5px 20px;
    color: #FFF;
    font-weight: bold;
    background: #1E3662;
    white-space: nowrap;
    font-weight: normal;
}

table td {
    text-align: left;
    padding: 0px 15px;
}

table tr td:nth-child(2){
    text-align: center;
}

/*tabla transparente*/
table.transparent{
    border: 0px solid #fff;
    margin-bottom: -1em;
}

table.transparent th, table.transparent td {
    border: 1px solid #fff;
}

table.transparent th {
    text-align: left;
    padding: 0;
    color: #999;
    background: #fff;
}

table.transparent th h1{
    text-align: left;
}

table.transparent td {
    text-align: left!important;
    padding-left:4em;
    color: #999;
}

table td p{
    line-height: 0.5;
}

hr {
    border-top: 1px solid #eee;
    margin-top: 0;
    margin-bottom: 0.5em;
    box-shadow: 0 3px 5px #bbb;
}

.footer{
    margin-top: 5px;
    color: #1E3662;
}
