html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

a:active, a:active *, button:active, button:active *, a, button { 
	outline: none !important; 
	-moz-outline-style: none !important; 
}

	/*NAV BAR*/
/*nav.affix{
	position: relative;
}*/

.navbar{
	margin: 0;
	background:#FFF;
}

.navbar .img-responsive{
	max-height: 40px;
	vertical-align: middle!important;
	/*padding: 0px 0px;*/
	margin: 0 auto;
}

.navbar .navbar-left p{
	margin-top: 5px;
	font-size: 1.4em;
	color:#777;
	font-weight:300!important;
}


.modal-header .close {
	opacity: 1;
	color:#ff1a1a !important;
	font-size: 1.6em;
}

.modal-header .close:hover {
	color:#b30000 !important;
}

	/*SUBIR*/
.ir-arriba {
    display:none;
    padding:10px;
    background:rgba(255,255,255,1);
    font-size:20px;
    color:#00BFFF;
    cursor:pointer;
    position: fixed;
    bottom:50%;
    right:20px;
    border: 1px #00BFFF solid;
	border-radius: 50%;
}

.ir-arriba:hover{
    background: rgba(0, 191, 255,0.7);
    color: #FFF;
    border-color: #FFF;
}


	/*STYLES OF PAGES*/
.sections{
    background-attachment: fixed!important;
    
    background-size: cover!important;
    background-size: cover;
    margin: 0 auto;
    /*! max-width: 1450px; */
    overflow: hidden;
    padding: 0px;
 

}

.secciones{
	padding: 0%;
	margin-left:10px;
	
}

.secciones h2{
	font-size: 2em;
	margin-bottom: 1em;
	color:#777777;
}

.secciones h2,
.secciones h3,
.secciones h4,
.secciones h5{
	color:#777777;
}

/*.secciones:nth-child(2n){
    background: #FBFBFB;
}*/

p, ul{ color: #777; font-size: 1.2em; }

.p-color-blnc{
	color:#777777;
}

b{ font-weight: 600;}

h1,h2,h3,h4,h5,h6,p,a,span, ul{font-weight: 300!important;}

.btn{
	border-radius: 0!important;
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
}

.img-responsive{margin: 0 auto;}


/*BANNER STYLES*/
.banner{
	background-image: url(/../images/iis2.jpg);
	color:#FFF;
	width: 100%;
	

       
}

.banner .fondo-gray{
	padding-top: 1%;
	padding-bottom: 1%;
	

	
}

.fondo-gray{
    background: rgba( 255, 255, 255 ,0.95);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255 ,0.95) 40%, rgba(255, 255, 255 ,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255, 255, 255 ,0.95) 40%, rgba(255, 255, 255 ,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255, 255, 255 ,0.95) 40%, rgba(255, 255, 255 ,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255, 255, 255 ,0.95) 40%, rgba(255, 255, 255 ,0.95) 70%); /* Standard syntax */
    padding: 4% 0;
}

.espaciodiv{
	margin-bottom:4px;
}

.btn{
	margin-top: 0.5em;
	font-weight:300;
	font-size: 18px;
	padding: 8px 13px;
	border-width: 2px;
	vertical-align: middle;
	color: #1E3662;
	background:none;
	border-color:#1E3662;
}

.btn:hover{
	color: #fff;
	background:#1E3662;
}

.banner img{
	text-align: right;
	max-height:85px;
	max-width: 200px;

	
}

.banner h1{
	font-size: 2.7em;
}

#info h2{
	border-left: 3px solid #1E3662;
	padding-left: 0.5em;
	margin-bottom: 1em;
}

#info .col-md-7{
	border-right: 1px solid #1E3662;
}

#info .col-md-5 p{
	margin-bottom: 1em;
}

#info .img-responsive{
	margin-top: 2em;
	max-height: 50px;
}

b{
	color: #1E3662;
}

	/*REGISTRAR FORM*/
#registrarme p.text-center{ 
	font-size: 2em; 
	margin-bottom: 1em;
}

/*FOOTER*/
#footer p{
    font-size: 1em;
    font-weight: 300;
    color: #FFF;
    text-align: center;
    margin: 0;
}

#footer {
    background: #2a303c;
    padding: 1% 0;
}


	/*MODAL EVENTO DESHABILITADO*/
.modal-body h3{ margin-bottom: 5%;}

.modal-body h3 b{text-transform: capitalize;}

.modal-footer{
	text-align: center;
}

.sociales{
	list-style: none;
	text-align:center;
	margin: 0;
	padding: 0;
	margin-top: 2em;
}

.sociales li{
	display:inline-block;
	font-size: 2.7em;
	padding:0 7px;
	margin: 0;

}

.sociales li a{
	text-decoration: none;
	color: #999;
}

.sociales li span{
	transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	border-radius:100%;
}

.sociales li span:hover{
	box-shadow: 0 0px 15px;
}

.sociales li:nth-child(1) span:hover{
	color:#4267B2;
}

.sociales li:nth-child(2) span:hover{
	color:#1DA1F2;
}

.sociales li:nth-child(3) span:hover{
	color:#DB4437;
}

.modal {
  text-align: center;
}

#myModal button{
	margin-top: 0em;
	padding: 3px 17px;
	border-width: 1px;
	vertical-align: middle;
}





@media screen and (max-width: 768px) { 

 .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

}
@media screen and (max-width: 768px) { 

 .banner .fondo-gray{
	padding-top: 6%;
	padding-bottom: 6%;
	margin-left: 6%;
	margin-right: 40px; 
  



}
}

@media screen and (max-width: 400px) { 
  
  .banner .fondo-gray{
	padding-top: 6%;
	padding-bottom: 6%;
	margin-left: 6%;
	margin-right: 20px; 
}


  



}



.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body hr{
	width: 50%;
	margin-bottom:0;
	margin-top:4%;
}

.modal-body h4 {
    color: #1E3662;
}

/*Modal de error*/


#modalError .btn-simple{
	color:#1E3662!important;
	padding: 5px 23px;
}
#modalError .btn-simple:hover{	color:#FFF!important;}


	/*ESTILOS DE LAS PAGINAS*/
/*PRESENTACION DE ADM*/
.adm .banner{
	background-image: url(/../images/iis2.jpg);
} 

.adm .fondo-gray{
	background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.adm .btn,
.adm .btn:hover,
.adm .ir-arriba,
.adm #info h2, .adm .p-color-blnc{
	border-color: #00497A;
}

/*COLOR*/
.adm b, .adm a, .adm h2, 
.adm .modal-body h4,
.adm #modalError .btn-simple,
.adm .btn,
.adm .ir-arriba, .adm {
	color: #00497A;
}





.adm .btn{
	background: none;
}

.adm .btn:hover{
	background: #00497A;
	color: #FFF;
}

.adm .ir-arriba:hover{
    background: rgba(0, 73, 122,0.7);
    border-color:#FFF;
    color:#FFF;
}

.adm #info .col-md-7 {
    border-right-color: #00497A;
}




/*PRESENTACION DE banco*/
.banco .banner{
	background-image: url(/../images/iis2.jpg);
} 

.banco .fondo-gray{
	background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.banco .btn,
.banco .btn:hover,
.banco .ir-arriba,
.banco  #info h2{
	border-color: #32912F;
}

/*COLOR*/
.banco b, .banco a, .banco h2,
.banco .modal-body h4,
.banco #modalError .btn-simple,
.banco .btn,
.banco .ir-arriba{
	color: #32912F;
}



.banco .btn{
	background: none;
}

.banco .btn:hover{
	background: #32912F;
	color: #FFF;
}

.banco .ir-arriba:hover{
    background: rgba(50,145,47,0.7);
    border-color:#FFF;
    color:#FFF;
}

.banco #info .col-md-7 {
    border-right-color: #32912F;
}






/*PRESENTACION DE caja*/
.caja .banner{
	background-image: url(/../images/iis2.jpg);
} 

.caja .fondo-gray{
	background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.caja .btn,
.caja .btn:hover,
.caja .ir-arriba,
.caja #info h2{
	border-color: #FBB500;
}

/*COLOR*/
.caja b, .caja a, .caja h2,
.caja .modal-body h4,
.caja #modalError .btn-simple,
.caja .btn,
.caja .ir-arriba{
	color: #FBB500;
}

.caja .btn{
	background: none;
}

.caja .btn:hover{
	background: #FBB500;
	color: #FFF;
}

.caja .ir-arriba:hover{
    background: rgba(251, 181, 0,0.7);
    border-color:#FFF;
    color:#FFF;
}

.caja #info .col-md-7 {
    border-right-color: #FBB500;
}








/*PRESENTACION DE coi*/
.coi .banner{
	background-image: url(/../images/iis2.jpg);
} 

.coi .fondo-gray{
	background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.coi .btn,
.coi .btn:hover,
.coi .ir-arriba,
.coi #info h2{
	border-color: #009cb1;
}

/*COLOR*/
.coi b, .coi a, .coi h2,
.coi .modal-body h4,
.coi #modalError .btn-simple,
.coi .btn,
.coi .ir-arriba{
	color: #009cb1;
}

.coi .btn{
	background: none;
}

.coi .btn:hover{
	background: #009cb1;
	color: #FFF;
}

.coi #info .col-md-7 {
    border-right-color: #009cb1;
}

.coi .ir-arriba:hover{
    background: rgba(0, 156, 177,0.73);
    border-color:#FFF;
    color:#FFF;
}










/*PRESENTACION DE facture*/
.facture .banner, .facture .frase{
	background-image: url(/../images/iis2.jpg);
}

.facture .fondo-gray{
	background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.facture .btn,
.facture .btn:hover,
.facture .ir-arriba,
.facture #info h2{
	border-color: #6b2b14;
}

/*COLOR*/
.facture b, .facture a, .facture h2, 
.facture .modal-body h4,
.facture #modalError .btn-simple,
.facture .btn,
.facture .ir-arriba{
	color: #6b2b14;
}

.facture .btn{
	background: none;
}

.facture .btn:hover{
	background: #6b2b14;
	color: #FFF;
}

.facture #info .col-md-7 {
    border-right-color: #6b2b14;
}

.facture .ir-arriba:hover{
    background: rgba(107, 43, 20,0.7);
    border-color:#FFF;
    color:#FFF;
}


/*PRESENTACION DE NOI*/
.noi .banner, .noi .frase{
	background-image: url(/../images/iis2.jpg);
}

.noi .fondo-gray{
	background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.noi .btn,
.noi .btn:hover,
.noi .ir-arriba,
.noi #info h2{
	border-color: #dd5d07;
}

/*COLOR*/
.noi b, .noi a, .noi h2, 
.noi .modal-body h4,
.noi #modalError .btn-simple,
.noi .btn,
.noi .ir-arriba{
	color: #dd5d07;
}

.noi .btn{
	background: none;
}

.noi .btn:hover{
	background: #dd5d07;
	color: #FFF;
}

.noi #info .col-md-7 {
    border-right-color: #dd5d07;
}

.noi .ir-arriba:hover{
    background: rgba(221, 93, 7,0.7);
    border-color:#FFF;
    color:#FFF;
}





/*PRESENTACION DE prod*/
.prod .banner, .prod .frase{
	background-image: url(/../images/iis2.jpg);
}

.prod .fondo-gray{
	background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.prod .btn,
.prod .btn:hover,
.prod .ir-arriba,
.prod #info h2{
	border-color: #2D6C88;
}

/*COLOR*/
.prod b, .prod a, .prod h2, 
.prod .modal-body h4,
.prod #modalError .btn-simple,
.prod .btn,
.prod .ir-arriba{
	color: #2D6C88;
}

.prod .btn{
	background: none;
}

.prod .btn:hover{
	background: #2D6C88;
	color: #FFF;
}

.prod #info .col-md-7 {
    border-right-color: #2D6C88;
}

.prod .ir-arriba:hover{
    background: rgba(45, 108, 136,0.7);
    border-color:#FFF;
    color:#FFF;
}



/*PRESENTACION DE SAE 6*/
.sae .banner, .sae .frase{
	background-image: url(/../images/iis2.jpg);
}

.sae .fondo-gray{
	background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.sae .btn,
.sae .btn:hover,
.sae .ir-arriba,
.sae #info h2{
	border-color: #af0e22;
}

/*COLOR*/
.sae b, .sae a, .sae h2, 
.sae .modal-body h4,
.sae #modalError .btn-simple,
.sae .btn,
.sae .ir-arriba{
	color: #af0e22;
}

.sae .btn{
	background: none;
}

.sae .btn:hover{
	background: #af0e22;
	color: #FFF;
}

.sae #info .col-md-7 {
    border-right-color: #af0e22;
}

.sae .ir-arriba:hover{
    background: rgba(175, 14, 34,0.7);
    border-color:#FFF;
    color:#FFF;
}



/*PRESENTACION DE SOFT-RESTAURANT 9*/
.sres .banner, .sres .frase{
	background-image: url(/../images/iis2.jpg);
}

.sres .fondo-gray{
	 background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.sres .btn,
.sres .btn:hover,
.sres .ir-arriba,
.sres #info h2{
	border-color: #f7761f;
}

/*COLOR*/
.sres b, .sres a, .sres h2, 
.sres .modal-body h4,
.sres #modalError .btn-simple,
.sres .btn,
.sres .ir-arriba{
	color: #f7761f;
}

.sres .btn{
	background: none;
}

.sres .btn:hover{
	background: #f7761f;
	color: #FFF;
}

.sres #info .col-md-7 {
    border-right-color: #f7761f;
}

.sres .ir-arriba:hover{
    background: rgba(247, 118, 31,0.7);
    border-color:#FFF;
    color:#FFF;
}



/*PRESENTACION DE S FACTURAS*/
.sfact .banner, .sfact .frase{
	background-image: url(/../images/iis2.jpg);
}

.sfact .fondo-gray{
	background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.sfact .btn,
.sfact .btn:hover,
.sfact .ir-arriba,
.sfact #info h2{
	border-color: #eb4947;
}

/*COLOR*/
.sfact b, .sfact a, .sfact h2, 
.sfact .modal-body h4,
.sfact #modalError .btn-simple,
.sfact .btn,
.sfact .ir-arriba{
	color: #eb4947;
}

.sfact .btn{
	background: none;
}

.sfact .btn:hover{
	background: #eb4947;
	color: #FFF;
}

.sfact #info .col-md-7 {
    border-right-color: #eb4947;
}

.sfact .ir-arriba:hover{
    background: rgba(235, 73, 71,0.7);
    border-color:#FFF;
    color:#FFF;
}



/*PRESENTACION DE OTM*/
.otm .banner, .otm .frase{
	background-image: url(/../images/iis2.jpg);
}

.otm .fondo-gray{
background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.otm .btn,
.otm .btn:hover,
.otm .ir-arriba,
.otm #info h2{
	border-color: #3974b8;
}

/*COLOR*/
.otm b, .otm a, .otm h2, 
.otm .modal-body h4,
.otm #modalError .btn-simple,
.otm .btn,
.otm .ir-arriba{
	color: #3974b8;
}

.otm .btn{
	background: none;
}

.otm .btn:hover{
	background: #3974b8;
	color: #FFF;
}

.otm #info .col-md-7 {
    border-right-color: #3974b8;
}

.otm .ir-arriba:hover{
    background: rgba(57, 116, 184,0.7);
    border-color:#FFF;
    color:#FFF;
}


/*PRESENTACION DE NSH*/
.nsh .banner, .nsh .frase{
	background-image: url(/../images/iis2.jpg);
}

.nsh .fondo-gray{
	background: rgba(255,255,255,0.95);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.95) 70%); /* Standard syntax */
}

/*BORDER COLOR*/
.nsh .btn,
.nsh .btn:hover,
.nsh .ir-arriba,
.nsh #info h2{
	border-color: #cc9900;
}

/*COLOR*/
.nsh b, .nsh a, .nsh h2,
.nsh .modal-body h4,
.nsh #modalError .btn-simple,
.nsh .btn,
.nsh .ir-arriba{
	color: #cc9900;
}

.nsh .btn{
	background: none;
}

.nsh .btn:hover{
	background: #cc9900;
	color: #FFF;
}

.nsh #info .col-md-7 {
    border-right-color: #cc9900;
}

.nsh .ir-arriba:hover{
    background: rgba(204, 153, 0,0.7);
    border-color:#FFF;
    color:#FFF;
}

/*boton de error*/
