*{
    margin: 0px;
    padding: 0;
    font-family: 'Open Sans';
    font-weight:400;
}

header, section, footer, nav, article{
    display: block;
}

header{
    position: fixed;
    height: 70px;
    width: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.8);

    margin-bottom: 0px;
}

header .logo{
    color: #fffff0;
    line-height: 165px;
    float: left;
    text-shadow: rgb(0,0,0) 5px 5px 10px;
    padding-left: 7%;
    line-height: 70px;
    font-size: 30px;
    font-weight: bold;
}

header nav{
    padding-right: 7%;
    float: right;
    line-height: 70px;
}

header nav a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 19px;
    -webkit-transition:all 700ms ease;
    -o-transition:all 700ms ease;
    transition:all 700ms ease;
}

header nav a:hover{
    background: crimson;
    color: #fff;
}

.active{
    background: crimson;
    /*! border-radius: 70px; */
    color: #fff;
}

h1{
    font-weight: 800;
    font-size: 26px;
}


.Contenido{
    margin: 6% auto;
    font-size: 17px;
    width: 100%;
    line-height: 1.6;
}

.Contenido p{
    margin-bottom: 1em;
    margin-right: 2em;
    margin-left: 5em;
    color: #444;
    
}

.Contenido li{
    color: #444;
    
    text-align: justify;
}

.Contenido ul{
    margin: 1em;
    margin-left: 5em;
}

.Contenido #w1{

    width: 45%;
    margin-top: 1%;
    float: left;
}

.Contenido #w2{
    float: left;
    width: 55%;
}

#w2 img{
    
    width: 95%;
    margin: 20px auto;
    padding: 0px;
}

@media screen and (max-width: 950px){
    header .logo,
    header nav{
        width: 100%;
        text-align: center;
        line-height: 70px;
    }

    .header{
        height: auto;
    }

    .header .logo,
    .header nav{
        line-height: 45px;
    }

    .resumen img{
        margin: auto;
        max-width: 40%;
        margin-left: 0px;
    }

    .resumen .Restexto p{
        margin: 30px auto;
        margin-left: 20px;
        width: 90%;
    }
}

footer {
    /*! height: 100px; */
    background-color: rgb(25, 25, 25);
    /*! background: url(../images/slid.jpg)no-repeat 0px 0px; */
    /*! background-size: cover; */
    padding: 1em 0;
    
}

footer p{
    /*! padding: 30px; */
    color: white;
    font-size: 15px;

    /*!  */
    margin-top: 0.5em;
}

section{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px auto;
    /*! max-width: 1450px; */
    overflow:hidden;
    padding: 0px;
    /*margin-bottom: 12px;
    ! position: relative;
    width: 100% !important;*/
}

section .large{
    margin:100px auto;
    overflow:hidden;
    padding:100px 0px;

}

.large p{
    /*background: rgba(255,61,61,0.5);*/
    font-size: 38px;
    /*! margin-right: 10em; */
    /*! margin-left: 10em; */
    text-align: center;
    color: #fff;
    width: 65%;
    margin: auto;
    margin-top: 1.7em;
}

.large b{
    font-size: 50px;
    font-weight: 800;
}

.knowmore{
    margin: 90px auto;
    width: 10%;
}

#button-red{
    margin: auto;
    /*! width: 100%; */
    border-top: crimson solid 4px;
    border-bottom: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: none;
    color:white;
    font-size:24px;
    padding:15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
     /*! margin-top: 0px; */
     font-weight:800;
    /*! float: left; */
}

#button-red:hover{
    
    border-top: #fff solid 4px;
    border-bottom: crimson solid 4px;
}

.knowmore a{
    color: #fff;
    text-decoration: none;
    width: auto;
}

.iconos{
    width: 100%;
    margin: auto;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 2em;
    
}

.iconos a{
    color: #fff;
    margin: center;
    text-decoration: none;
    transition:all 700ms ease;
    display: inline-block;
}

.iconos a, span{
    padding: 0.1em;
    margin: 1px;
    padding-top:8px;
}

.iconos a:hover{

    color: crimson;
    transform: translateY(-7px);
}

@media screen and (max-width:1000px){
   section{
      width:100%;
   }
}

@media screen and (max-width:700px){
   article{
      width:100%;
   }
}
/*
.container-form{
    color: rgb(25, 25, 25);
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.rectangle{
    margin: 3% auto;
    background-color: #fff;
    width: 35%;
    border-radius: 1px;
}

.correo{
    line-height: 255%;
    width: 69%;
    float: left;
    border-collapse: separate;
    border-bottom-color: transparent;
    border-block-start-color: transparent;
    border-block-end-color: transparent;
    background-color: #fff;
}

button{
    line-height: 260%;
    font-size: 13px;
    color: white;
    background-color: crimson;
    border-color: transparent;
    border-collapse: separate;
    width: 30%;
    float: right;
}

button:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}*/

.resumen p{
    margin-left: 250px;
    margin-right: 10px;
    text-align: justify;
    line-height: 1.5;
}

.resumen p, h3, h1{
    color:#fff;
}



.wrap{
    display: none;
    width: 100%;
    /*max-width: 1000px;*/
}

.wrap2 {
    display: none;
    width: 100%;
    /*max-width: 1000px;*/
}

.seccionToggle {
    margin:0px auto;
    padding:30px 0px;
    text-align:center;
    width:100% !important;
}

#marcas h1{
    margin-bottom: 50px;
}

.seccionToggle img{
    margin: 3% 8%;
    float: left;
    width: 17%;
    margin-left: 14%;
}

.seccionToggle img.national{
    margin: 0.5% 8%;
    margin-left: 14%;
}


.seccionToggle p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-right: 8%;
}

.seccionToggle button {
    width: 15%;
    float: none;
    background-color: crimson;
    border-color: transparent;
    border-collapse: separate;
    font-size: 15px;
    padding: 10px 10px;
    transition: 0.5s all ease;
    line-height: 5px;
    /*! margin-bottom: 80px; */
}

.btn-toggle{
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: -1em;
  margin-bottom: 80px;
  background-color: #fff;
}

.btn-toggle2{
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 0;
}

.seccionToggle button:hover {
    background-color: #fff;
    border-color: #fff;
    color: crimson;

}

.section-preview.double{
    margin-left: -96px;
    clear: both;
    margin: 30px 0;
    margin-left: -40px;
    padding: 0;
    list-style: none;
}

.nav-tabsContent >div ul:first-child {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.section-preview.double >li{
    /*margin-left: 94px;
    box-shadow: 2px 5px 10px;*/
    display: inline-block;
    margin: 20px 1px 10px;
    margin-left: 38px;
    width: 343px;
    height: 480px;
    vertical-align: top;
    background-color: #ffffff;
    color: #444;
    line-height: 1.4;
    /*opacity: 0.9;*/
}

.title{
    color: #2c7cc2;
}

.wrap2 .section-preview.double  >li {
    height: 320px;
}

.section-preview img{
    /*max-height: 168px;*/
    margin: 0 auto 10px;
    max-width: 100%;
    max-height: 228px;
    text-align: center;
    border: 0;
    width: 100%;
}

.section-preview h3{
    text-align: left;
    font-weight: inherit;
    margin: auto 10px;
}

h3 {
    font-size: 1.2em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 800;

}

li{
    text-align: left;
    list-style-image: url(../images/lista2.png);
    margin: 10px 30px;
}

#section1{
    background-image: url(../images/cmp3.png);
    height: 500px;
    padding-top: 200px;
}



#marcas{
    background-image: url(../images/produ.png);
}

#contacto{
    background-image: url(../images/entrepreneur.jpg);
    text-align: center;
    text-emphasis-color: white;
    padding-bottom: 5%;

    color: white;
}
/*
#backContact{
    background: url(../images/dott.png) repeat 0px 0px;
    background-size: 4px;
    height: 1690px;
    padding: 2em 0;
}
*/

/*#div1{
    color: #ccc;
    background-color: rgba(30, 14, 11, 0.7);
    padding: 0px;
    margin: 0px;
    width:100%;
    height: 100%;
}
*/

#div1{
    margin: 5% auto;
}
/*#div1 h3{
    color: #fff;
}*/

#contacto h1{
    font-family: 'Open Sans';
    font-weight:800;
    margin-top: 7%;
    color: #fff;
}

#contacto h3{
    margin-top: 3%;
    margin-bottom: 1%;
    color: #fff;
}

h4{
    font-weight: 800;
}

/*
.continfo{

    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.continfo ul li{
    list-style-image: none;
    list-style-type: none;
    margin: 13px 13px;
}

.continfo ul{
    color: #fff;

    margin: 10px 0px;
    background-color:rgba(72,72,72,0.4);
    height: 190px;
    width: 290px;
    padding: 7px;
}

.direccion, .atencion, .social{
    margin:50px auto;
    width: 33.3%;
    float: left;
}
*/
.mapas{
    margin-top: 70px;
    width: 50%;
    float: left;
}

.mapas iframe{
    width: 65%;
}

.direccion{
    margin: 0px auto;
    width: 65%;
    background-color:rgba(72,72,72,0.5);
    height: 180px;
}

.direccion h4{
    font-weight: 800;
    font-size: 1.2em;
}

.direccion ul li{
    list-style-image: none;
    list-style-type: none;
    margin: 12px 20px;
}
/*
.follow{ 
    display: inline-block;
    margin: 3%;
    width: 20%;
    background-color:rgba(72,72,72,0.4);
    height: 180px;
}

.follow ul li{
    list-style-image: none;
    list-style-type: none;
    margin: 12px 20px;
}

.follow a{
    color: #fff;
    text-decoration: none;        
}
*/

.sociales{
    margin: 10px auto;
    width: 80%;
    color: #fff;
    font-size: 33px;
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    /*! margin-right: auto; */
    /*! margin-left: auto; */
    box-sizing: border-box;
    /*! float:  right; */
    height: 70px;
}


.sociales a{
    margin-right: 5%;
    color: #fff;
    text-decoration: none;        
}

.sociales a:hover{
    color: crimson;
}

.socialescontent{
    margin: auto;
    width: 100%;
}

.left{
    float: left;
    /*! background: none; */
    /*! height: 0px; */
}

.right{
    float: right;
    width: 20%;
}

/*FORMULARIO DE CONTACTO*/
#form-main{
    width:100%;
    float:left;
    padding-top:0px;
}

#form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width: 450px;
    left: 50%;
    margin-top:30px;
    margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
   margin: 10px auto;
}

.feedback-input {
    color:#3c3c3c;
  font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
  padding: 13px 13px 13px 13px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

textarea {
    text-align: justify;
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:beige;
}

#button-blue{
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: crimson;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  margin-top:-4px;
  font-weight:800;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: crimson;
}

.submit:hover {
    color: crimson;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
    color: crimson;
}


/*SOLUCIONES*/
#soluciones{
    /*! margin: 4% auto; */
    background-color: #eee;
    padding-top: 2%;
    padding-bottom: 2%;
}

.row{
    margin: 70px auto;
    width: 90%;
}

.boxing{
    text-align: justify;
    margin: 17px;
    display: inline-block;
    width: 30%;    
    vertical-align: top;
    color: #444;
    line-height: 1.6;
}

#soluciones h1{
    margin: 6% auto;
    color: black;
    text-align: center;
}

#soluciones h3{
    text-align: center;
    color: black;
}

#soluciones span{
    margin: 0px 155px;
    font-size: 60px;
    color: crimson;
}
