
/*-------------------------------------------------------------------------*\
   Global variables
\*------------------------------------------------------------------------*/
$page-width: 970px; 

/*-------------------------------------------------------------------------*\
   @Mixins
\*------------------------------------------------------------------------*/
@mixin ul-reset() { margin: 0;padding: 0;list-style: none; }

/*-------------------------------------------------------------------------*\
   Hero
\*------------------------------------------------------------------------*/
.ac_home-hero { position: relative;background: #3e70b5;background: linear-gradient(-45deg, rgba(50,96,159,1) 0%,rgba(62,112,181,1) 100%);width: 100%;padding: 20px 0 0 0;box-shadow: inset 0 -5px 12px rgba(50, 50, 50, 0.25); }
.ac_home-hero-wrap { padding: 0 20px;max-width: $page-width;margin: 0 auto;overflow: hidden;clear: both; }
.ac_home-hero-wrap h1 { color: #fff;font-size: 38px; text-align: center;font-weight: 200;margin: 40px 0 60px 0;}
.hero-signup .hero-signup-wrapper { border-radius: 6px;background: #325b93;padding: 20px;margin-top: 20px; }
.hero-signup .hero-signup-wrapper .notify { font-size: 14px;display: none; }
.hero-signup .hero-signup-wrapper.error { margin-top: -30px; }
.hero-signup .ac_button { font-size: 18px !important;-webkit-appearance: none; }
.hero-signup .note { font-size: 12px;color: #789ed0;text-align: center; }
#hero-screen { min-height: 322px;background: url(../images/home-heroscreen.png) no-repeat top left;background-size: 687px;}
#hero-screen #hero-slides { position: absolute;top: 24px;width: 512px;left:20px; }
#hero-screen #hero-slides .slidesjs-navigation { visibility: hidden; }

/*-------------------------------------------------------------------------*\
   Features section
\*------------------------------------------------------------------------*/
#features .feature-illustration { text-align: center;width: 100%; }
#features .ac_button { display: block;margin: 40px auto 0 auto;width: 100px; }
#features h3 { margin-top: 20px; }

/* Automation illustration */
#automation .do_animate #gear1 .animate { -webkit-animation: spin 3s ease-out;animation: spin 3s ease-out;transform-origin: 79px 38.037px;-webkit-transform-origin: 50% 50%; }
#automation .do_animate #gear2 .animate { -webkit-animation: spin 3s ease-out;animation: spin 3s ease-out;transform-origin: 78.998px 118.036px;-webkit-transform-origin: 50% 50%; }

/* Sales illustration */
#sales .do_animate #bar1 .animate, #sales .do_animate #bar2 .animate, #sales .do_animate #bar3 .animate, #sales .do_animate #bar4 .animate { animation: pullUp 2s ease-out;-webkit-animation: pullUp 2s ease-out;transform-origin: 100% 50%;-ms-transform-origin: 50% 100%;-webkit-transform-origin: 50% 100%; }

/* Email illustration */
#email .do_animate .paper { animation: paperSlideUp .6s ease-in forwards;-webkit-animation: paperSlideUp .6s ease-in forwards;visibility: visible !important; }

/*-------------------------------------------------------------------------*\
   Tour section
\*------------------------------------------------------------------------*/
.ac_home-tour { position: relative;width: 100%;/*overflow:hidden;*/height: 561px;background: url(../images/home-tourbg.png) no-repeat center bottom;background-size: 100%;margin-bottom: -102px; }
.ac_home-tour #tour-slides { display: none;width: 88.5% !important; left: 5.7%;position: absolute;bottom:2px; }
.tour-cta { position: absolute;cursor: pointer;opacity: .5;z-index: 1;}
.tour-cta:hover { opacity: .7; }
.tour-cta .circle { -webkit-animation: pulse 2s infinite ease-out;animation: pulse 2s infinite ease-out; }
.tour-cta .border { -webkit-animation: pulse 2s infinite ease-out;animation: pulse 2s infinite ease-out; }
.tour-caption { position: absolute;right:82px;bottom: 30px;width: 236px;padding: 20px;height: auto;background: rgba(0, 0, 0, 0.7);border-radius: 6px;color: #fff;z-index: 2; }
.tour-caption p { margin-top: 8px; }
.tour-caption .title { font-size: 16px;font-weight: 600; }

/*-------------------------------------------------------------------------*\
   Tour slideshow
\*------------------------------------------------------------------------*/
#tour-slides { overflow: visible !important; }
#tour-slides .slidesjs-pagination { position: absolute;bottom: -50px;left:50%;margin-left: -88px;background: none; padding: 10px;border-radius: 20px;z-index: 1!important; }
#tour-slides .slidesjs-pagination .slidesjs-pagination-item a.active { width: 11px;height:11px;margin-top:-1px }
#tour-slides .slidesjs-navigation { display: none; }

/*-------------------------------------------------------------------------*\
   Support
\*------------------------------------------------------------------------*/
#support-cols { margin-bottom: 40px; }
#support-cols #contact, #support-cols #training, #support-cols #resources { width: 31.3333333%;margin-left: 20px;padding-left: 43px; }
#support-cols #contact { margin-left: 0;background: url(../images/home-support-contact.png) no-repeat top left;background-size: 32px; }
#support-cols #training { background: url(../images/home-support-training.png) no-repeat top left;background-size: 32px; }
#support-cols #resources { background: url(../images/home-support-resources.png) no-repeat top left;background-size: 32px; }
#support-text { margin-top: 50px; }
#support-map { position: relative; }
body.no-touch #support-map .map-blip#blip1, body.no-touch #support-map .map-blip#blip2,body.no-touch #support-map .map-blip#blip3  { transform: scale(0);-webkit-transform: scale(0);-webkit-transform-origin: 50% 50%; }
.map-blip#blip1, .map-blip#blip2, .map-blip#blip3 { position: absolute; }
.map-blip#blip1 { top: 20%;left: 10%;}
#support-map.do_animate .map-blip#blip1 { -webkit-animation: pop 1s ease-out forwards;animation: pop 1s ease-out forwards; }
.map-blip#blip2 { top: 15%;left: 48%;}
#support-map.do_animate .map-blip#blip2 { -webkit-animation: pop 1s ease-out forwards;animation: pop 1s ease-out forwards;-webkit-animation-delay: .5s;animation-delay: .5s; }
.map-blip#blip3 { top: 71%;left: 86%;}
#support-map.do_animate .map-blip#blip3 { -webkit-animation: pop 1s ease-out forwards;animation: pop 1s ease-out forwards;-webkit-animation-delay: 1s;animation-delay: 1s; }

/*-------------------------------------------------------------------------*\
   Testimonials
\*------------------------------------------------------------------------*/
#testimonials .testimonial-list { list-style: none;margin: 0 auto;padding: 0;max-width: 600px;text-align: center }
#testimonials .testimonial-list li { display: none;height: 100%; }
#testimonials .testimonial-list li .title { font-size: 24px;font-weight: 300;margin-top: 30px; }
#testimonials .testimonial-list li .name { font-size: 17px;margin-top: 20px;color: #9d9d9d;font-weight: 300; }
#testimonials .testimonial-avatar { list-style: none;margin: 40px 0 0 0;padding: 0;text-align: center; }
#testimonials .testimonial-avatar li { display: inline-block;margin-right: 10px;cursor: pointer;border-radius: 80px;height: 56px;overflow: hidden;vertical-align: middle;text-align: center;}
#testimonials .testimonial-avatar li.active {border: #dfdfdf 2px solid; }
#testimonials .testimonial-avatar li img { width: 56px;opacity: .5;border-radius: 80px;overflow: hidden; }
#testimonials .testimonial-avatar li:hover > img { opacity: .7; }
#testimonials .testimonial-avatar li.active img { width: 56px;opacity: 1; }

/*-------------------------------------------------------------------------*\
   Bottom pitch 
\*------------------------------------------------------------------------*/
#signup .ac_button { width: 220px;}

/*-------------------------------------------------------------------------*\
   Helpers
\*------------------------------------------------------------------------*/
.hide { visibility: hidden !important; }

/*-------------------------------------------------------------------------*\
   Animations
\*------------------------------------------------------------------------*/
/* Spin */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);-webkit-transform-origin: 50% 50%; }
    100% { -webkit-transform: rotate(359deg);-webkit-transform-origin: 50% 50%; }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

/* Pull Up */
@keyframes pullUp {
    0% { transform: scaleY(0.1); }
    40% { transform: scaleY(1.02); }
    60% { transform: scaleY(0.98); }
    80% { transform: scaleY(1.01); }
    100% { transform: scaleY(0.98); }
    80% { transform: scaleY(1.01); }
    100% { transform: scaleY(1); }
}

@-webkit-keyframes pullUp {
    0% { -webkit-transform: scaleY(0.1); }
    40% { -webkit-transform: scaleY(1.02); }
    60% { -webkit-transform: scaleY(0.98); }
    80% { -webkit-transform: scaleY(1.01); }
    100% { -webkit-transform: scaleY(0.98); }
    80% { -webkit-transform: scaleY(1.01); }
    100% { -webkit-transform: scaleY(1); }
}

/* Email illustration paper slide up */
@keyframes paperSlideUp {
    0% { }
    100% { transform: translateY(-30px); }
}
@-webkit-keyframes paperSlideUp {
    0% { }
    100% { -webkit-transform: translateY(-30px); }
}

/* Pulse */
.animation.pulse { -webkit-animation: pulse 2s infinite ease-out;animation: pulse 2s infinite ease-out; }
@keyframes pulse {
    0% { transform: scale(1, 1);transform-origin: 50% 50%; }
    50% { transform: scale(.5, .5);transform-origin: 50% 50%; }
    100% { transform: scale(1, 1);transform-origin: 50% 50%; }
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1, 1);-webkit-transform-origin: 50% 50%; }
    50% { -webkit-transform: scale(.5, .5);-webkit-transform-origin: 50% 50%; }
    100% { -webkit-transform: scale(1, 1);-webkit-transform-origin: 50% 50%; }
}

/* Pop */
.animation.pop { -webkit-animation: pop .6s ease-out;animation: pop .6s ease-out;visibility: visible !important; }
@keyframes pop {
    0% { transform: scale(0, 0);transform-origin: 50% 50%; }
    50% { transform: scale(1, 1);transform-origin: 50% 50%; }
    75% { transform: scale(.8, .8);transform-origin: 50% 50%; }
    100% { transform: scale(1, 1);transform-origin: 50% 50%; }
}
@-webkit-keyframes pop {
    0% { -webkit-transform: scale(0, 0);-webkit-transform-origin: 50% 50%; }
    50% { -webkit-transform: scale(1, 1);-webkit-transform-origin: 50% 50%; }
    75% { -webkit-transform: scale(.8, .8);-webkit-transform-origin: 50% 50%; }
    100% { -webkit-transform: scale(1, 1);-webkit-transform-origin: 50% 50%; }
}

/* Big Entrance */

.bigEntrance{
    animation-name: bigEntrance;
    -webkit-animation-name: bigEntrance;    

    animation-duration: 1.6s;   
    -webkit-animation-duration: 1.6s;

    animation-timing-function: ease-out;    
    -webkit-animation-timing-function: ease-out;    

    visibility: visible !important;         
}

@keyframes bigEntrance {
    0% {
        transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }
    30% {
        transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);        
        opacity: 1;
    }
    45% {
        transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    60% {
        transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);     
        opacity: 1;
    }   
    75% {
        transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);      
        opacity: 1;
    }   
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }       
}

@-webkit-keyframes bigEntrance {
    0% {
        -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }
    30% {
        -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);        
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);     
        opacity: 1;
    }   
    75% {
        -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);      
        opacity: 1;
    }   
    100% {
        -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }               
}


/*-------------------------------------------------------------------------*\
   Media queries
\*------------------------------------------------------------------------*/
@media only screen and (max-width : 880px) {
    .ac_home-hero .ac_col { float: none; }
    .ac_home-hero { overflow: hidden;}
    #hero-screen { width: 100%;background: url(../images/home-heroscreen-noshadow.png) no-repeat top left;background-size: 100%; }
    #hero-screen #hero-slides { width: 94% !important;margin-top: 0.6%;}
    .ac_home-hero .hero-signup  { z-index: 11;position: absolute;bottom: 0;left: 0;background: rgba(0, 0, 0, 0.4);width: 100% !important;padding: 20px !important;vertical-align: middle; }
    .ac_home-hero .hero-signup .hero-signup-wrapper { background: none;padding: 0;margin: 0;}
    .ac_home-hero .hero-signup fieldset, .ac_home-hero .hero-signup .ac_button { float: left;margin-right: 3%;width: 31.6%;margin-bottom: 0; }
    .ac_home-hero .hero-signup .ac_button { width: 30.6% !important;font-size: 14px !important;padding: 12px 20px !important;margin-right: 0 !important;}
    .ac_home-hero .hero-signup .note { display: none; }
    .tour-cta { display: none !important; }
    .tour-caption { bottom: 0;left: -20px;right: inherit;height: 60px;width: 100%;border-radius: 0; }
    #support-map .ac_col { float: none;width: 100%;text-align: center !important; }
    #support-map .ac_col h4 { text-align: center !important;}
    #support-text { position: absolute;bottom: 0;background: rgba(255,255,255, 0.6);padding: 20px 0; } 
}

@media only screen and (max-width : 640px) {
    #features svg { width: 90%;}
    .testimonial-list .title { font-size: 18px !important;}
}

/* Generic small screens */
@media only screen and (max-width : 560px) {
    #hero-screen #hero-slides { width: 92% !important;left: 4%; top: 7%}
    #features > .ac_col.four, #support-cols > .ac_col.four { margin-bottom: 40px; border-bottom: #cacaca 1px solid;padding-bottom: 40px;}
    #features > .ac_col.four:last-of-type, #support-cols > .ac_col.four:last-of-type { border: none !important;}
    #features svg { width: 75%;}
    .ac_home-tour { margin-bottom: -51px;}
    .tour-caption { display: none;}
    #tour .ac_sub-title { margin-bottom:0px !important;}
   .testimonial-list .title { font-size: 18px !important;}
   .testimonial-list .name { font-size: 14px !important;}
   .testimonial-avatar li img { width: 44px !important; }
   .testimonial-avatar li.active { height: 50px !important; }
   .testimonial-avatar li.active img { width: 50px !important; }
    #support-cols > .ac_col { width: 100% !important;padding-left: 0 !important;margin-left: 0 !important;background-position: 10% 0 !important;}
    #support-cols > .ac_col h4 { text-align: center !important;padding-left: 40px; }
    #support-map img { width: 100% !important;}
}
@media only screen and (max-width : 400px) {
    .ac_home-hero .hero-signup  { display: none; }
}

/* iPhone */
@media only screen and (min-device-width : 320px) and (max-device-width : 500px) {
    .ac_home-hero-wrap h1 { margin: 20px 0 40px 0;}
    #features > .ac_col.four, #support-cols > .ac_col.four { margin-bottom: 40px; border-bottom: #cacaca 1px solid;padding-bottom: 40px;}
    #features > .ac_col.four:last-of-type, #support-cols > .ac_col.four:last-of-type { border: none !important;}
    #features svg { width: 75%;}
    .ac_home-hero-wrap h1{ height:100px;}
    #typist-element {
      &:after {
        height: 38px !important;
        top: 10px !important;
      }
    }

}
@media screen and (device-aspect-ratio: 40/71) {
    .ac_home-hero-wrap h1{ height:65px; font-size:23px !important;}
    #typist-element {
      &:after {
        height: 28px !important;
        top: 5px !important;
      }
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation: landscape) {
        #hero-screen { min-height: 310px !important; }
    .ac_home-hero .hero-signup .ac_button { margin: 0;font-size: 13px !important; }
    .ac_home-tour { margin-bottom: -45px !important; }
    #support-cols > .ac_col { width: 100% !important;padding-left: 0 !important;margin-left: 0 !important;background-position: 10% 0 !important;}
    #support-cols > .ac_col h4 { text-align: center !important;padding-left: 40px; }
    .testimonial-list .title { font-size: 18px !important;}
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

#typist-element {
  &:after {
    content: " ";
    display: inline-block;
    height: 47px;
    position: relative;
    top: 10px;
    margin-left: 3px;
    margin-right: 7px;
    width: 2px;
    background: #fff;
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
  }
}


#typist-element{
    font-weight:500;
}

.selectedText {
  background: #4e86d0;
  font-style: normal;
}
